production
================

| Left align | Right align | Center align |
|:-----------|------------:|:------------:|

|host|env|IP|Core|RAM|HDD|OS|if1|if2|if3|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
{{range . -}}
|{{ .Hostname}}|{{.I3env}}|{{.Ip_addr}}|{{.Cores}}|{{.Ram}}|{{.Hdd}}|{{.Os}}|{{.If1}}|{{.If2}}|{{.If3 -}}|
{{end }}
